.rbt-btn {
    padding: 15px 0;
    background: #2F57EF;
    color: #F2F2F2;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    border: 0 none;
    outline: none;
}
.rbt-btn.btn-gradient {
    color: #fff;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #2F57EF, #B966E7, #B966E7, #2F57EF);
}
.rbt-btn.hover-icon-reverse .icon-reverse-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.rbt-btn.hover-icon-reverse .btn-text {
    display: flex;
    transition: transform 0.6s 0.125s cubic-bezier(0.1, 0.75, 0.25, 1);
    margin-inline-start: -23px;
}
.rbt-btn.hover-icon-reverse .btn-icon {
    display: flex;
    transition: opacity 0.4s 0.25s, transform 0.6s 0.25s;
    transition-timing-function: cubic-bezier(0.1, 0.75, 0.25, 1);
}
.rbt-btn.hover-icon-reverse .btn-icon + .btn-icon {
    margin-inline-end: 0;
    margin-inline-start: 8px;
    display: flex;
    margin-inline-start: 0;
    margin-inline-end: 0;
    opacity: 0;
    transform: translateX(-10px);
    transition-delay: 0s;
    order: -2;
}
.rbt-btn.btn-gradient:hover {
    background-color: inherit;
    background-position: 102% 0;
    transition: all 0.4s ease-in-out;
}
.rbt-btn:hover {
    background-color: #2F57EF;
    color: #fff;
    transform: translate3d(0, -2px, 0);
    box-shadow: 0px 15px 30px -2px rgba(0, 0, 0, 0.1);
}
.rbt-btn:hover.hover-icon-reverse .btn-icon {
    opacity: 0;
    transition-delay: 0s;
    transform: translateX(10px);
}
.rbt-btn:hover.hover-icon-reverse .btn-icon + .btn-icon {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.225s;
}
.rbt-btn:hover.hover-icon-reverse .btn-text {
    transition-delay: 0.1s;
    transform: translateX(23px);
}