.button_6 a{
    background-color: #fff;
    padding: 15px 0;
    color:#fff;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    position: relative;
}
.button_6 a:hover{
    background-color: #1e9bff;
    box-shadow: 0 0 35px #1e9bff;
    color: #fff;
}
.button_6 a:before{
    content: "";
    position: absolute;
    inset: 2px;
    background: #0d6efd;
}
.button_6 a span{
    position: relative;
    z-index: 1;
}
.button_6 a i{
    position: absolute;
    inset: 0;
    display: block;
}
.button_6 a i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #0d6efd;
    transform: translateX(-50%) skewX(325deg);
    -webkit-transform: translateX(-50%) skewX(325deg);
    -moz-transform: translateX(-50%) skewX(325deg);
    -ms-transform: translateX(-50%) skewX(325deg);
    -o-transform: translateX(-50%) skewX(325deg);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.button_6 a i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #0d6efd;
    transform: translateX(-50%) skewX(325deg);
    -webkit-transform: translateX(-50%) skewX(325deg);
    -moz-transform: translateX(-50%) skewX(325deg);
    -ms-transform: translateX(-50%) skewX(325deg);
    -o-transform: translateX(-50%) skewX(325deg);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.button_6 a:hover i::before{
    width: 20px;
    left: 20%;
}
.button_6 a:hover i::after{
    width: 20px;
    left: 80%;
}